.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
  }

  .product h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }

  .product button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }
  h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  #cart {
    border: 169px solid white;
    padding: 10px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  #cart h2 {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
  }

  #cart-items {
    list-style-type: none;
    padding: 0;
  }

  #cart-items li {
    margin-bottom: 5px;
  }

  #cart button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }